/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/tests/_output
/tests/_support/_generated
/tests/acceptance/AcceptanceTester.php
/tests/api/ApiTester.php
/tests/cli/CliTester.php
/tests/functional/FunctionalTester.php
/tests/unit/UnitTester.php
.phpunit.result.cache


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages


/public/hot
/public/storage


/storage/*.key


/node_modules
npm-debug.log
yarn-error.log


Homestead.yaml
Homestead.json


.env


