/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/app/tests/_log


/app/config/local/
/app/config/testing/
/app/config/fortrabbit/
/app/config/production/


/.env*.php


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages

