/bootstrap/compiled.php
/vendor


/build/logs
/build/coverage


/tests/_output
/tests/_support/_generated
/tests/acceptance/AcceptanceTester.php
/tests/api/ApiTester.php
/tests/cli/CliTester.php
/tests/functional/FunctionalTester.php
/tests/unit/UnitTester.php


composer.phar


.DS_Store


/.idea
/_ide_helper.php


/app/config/packages
/public/packages


/node_modules


Homestead.yaml
Homestead.json


.env


